[Desktop Entry]
Encoding=UTF-8
Name=Rezound
Comment=Graphical audio file editor
Exec=rezound
Icon=rezound.gif
Terminal=false
Type=Application
Categories=Application;AudioVideo;
