[Desktop Entry]
Encoding=UTF-8
Name=Nexuiz
Comment=Nexuiz
Exec=/usr/bin/nexuiz
Icon=nexuiz.png
Terminal=false
Type=Application
Categories=Application;Games;
